h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 350%;
	margin-top: 5%;
	margin-left: 2%;
	margin-bottom: 0%;
}

h1.display-4 {
	margin: auto;
}

#login {
	margin: auto;
	margin-top: 5%;
	border: 1px solid black;
	border-radius: 3%;
	width: 35%;
	padding: 1%;
	background-color: white;
}

#user_prof {
	margin: auto;
}

#logout_button {
	float:right;
}

#navbar_brand {
	margin-left: 1%;
}
#card {
	margin: auto;
	width: 75%;
}

#listgroup {
	width: 100%;
	margin: auto;
}

#scroll {
	overflow: scroll;
	width: 50%;
	max-height: 100vh;
	background-color: white;
	margin: auto;
}

#adminNav {
	margin:auto;
	width: 100%;
}

#userOpt {
	margin: auto;
	width:50%;
}

#courseOpt {
	margin: auto;
	width: 50%;
}

#table {
	background-color: white;
}

#loginAlert {
	width: 50%;
	margin: auto;
}

#inputGroup {
	margin: 2%;
	width: 80%;
}

#inputGroupDiv {
	margin: auto;
	width: 75%;
	background-color: #B5C0D2;
	padding: 2%;
	border-radius: 1%;
}

#span {
	width: 35%;
}

p {
	margin: auto;
}

.jumbotron {	
	width: 75%;
	margin: auto;
	padding: 2%;
}

body {
	background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2015/04/02/653105/09d95a6f0e5f6e6a79bcbc58aa1222ad.jpg);
}


main {
	padding: 1%;
	margin: 1% 0 1% 0;	
}

.btn-secondary {
	background-color: #05386b;
}

tr, td, th{
	border: 3px solid rgba(0,0,0,.125);
	width: 1%;
	padding: 1%;
}

th {
	font-size: 125%;
	font-family: 'Lato', sans-serif;
	text-decoration: underline;
}
table {
	width: 50%;
	margin: auto;
}

a.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-kerning: none;
}

div.card {
	margin-top: 3%;
}

div.card-header {
	background-color: #379683;
}

a.btn-primary {
	margin: 3% 0 0 0;
}

footer {
	background-color: white;
	margin: auto;
	width: 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-align: center;
	bottom: 0;
	height: 7vh;
}

footer a {
	padding: 0.5%;
	background-color: white;
	margin: auto;
}

footer nav {
	width: 100%;
	margin: auto;
	float: left;
	background-color: white;
}

footer p {
	margin: auto;
}

@media only screen and (max-width: 920px) {
  /* For mobile phones: */
  

}